List((
    texture_width: 204,
    texture_height: 22,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 34,
            height: 22,
        ),
        (
            x: 34,
            y: 0,
            width: 36,
            height: 22,
        ),
        (
            x: 70,
            y: 0,
            width: 40,
            height: 22,
        ),
        (
            x: 110,
            y: 0,
            width: 36,
            height: 22,
        ),
        (
            x: 146,
            y: 0,
            width: 30,
            height: 22,
        ),
        (
            x: 176,
            y: 0,
            width: 28,
            height: 22,
        )
    ]
))
